
body {
  overflow: auto !important;
}

/*START DASHBOARD*/

.schedule-block {
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 15px 0,
  rgba(0, 0, 0, 0.04) 0 1px 6px 0,
  0 1px 15px rgba(0, 0, 0, .04),
  0 1px 6px rgba(0, 0, 0, .04);

  &__title {
    padding: 1.5rem 1rem;
    color: rgb(33, 33, 33);
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
}

/*END DASHBOARD*/

/*START STUDENT*/

.table-row-data {
  background-color: #fff;
  border-bottom: 10px solid #F9FAFB;
  border-radius: 3px;
}

/*END STUDENT*/

.photoUpload {
  width: 300px;
  height: 240px;
  background-color: #ccc;
  border: 1px solid black;
}


.tab-item-style-active {
  border-bottom: 2px solid #007BFF !important;
  cursor: pointer;
}

.tab-item-style-active1 {
  background-color: white;
  cursor: pointer;
}

.tab-item-style-active:not(:first-child) {
  margin-left: 1rem;
}

.tab-item-style-default:not(:first-child) {
  margin-left: 1rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.table-group-style {
  color: #fff;
  height: auto !important;
  position: relative;
}

.group-name-style-dash {
  border-radius: 3px;
  background-color: #F9FAFB;
  color: #007BFF;
  margin-right: 3%;
}

.inside-td-block {
  padding: .2rem .3rem !important;
  margin-bottom: 4px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 15px 0px, rgba(0, 0, 0, 0.04) 0px 1px 6px 0px, 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
  color: #000;
  border-radius: 5px;
}

.schedule {
  overflow-x: auto;
  //box-shadow: 0 0 4px 1px #ccc;
  border: 1px solid #ccc;
  border-radius: 9px;
  transform: rotateX(180deg);
}

.schedule-table {
  transform: rotateX(180deg);
  //box-shadow: 0 1px 5px 1px rgba(110, 110, 110, .4);
}

/* width */
.schedule::-webkit-scrollbar {
  height: 12px;
}

/* Track */
.schedule::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px 0 #bbb;
  border-radius: 8px;
}

/* Handle */
.schedule::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
}

/* Handle on hover */
.schedule::-webkit-scrollbar-thumb:hover {
  background: #777;
}

//  Written By Muhammadmin this is a for responsibility of the group page!


.tab-item-style-active1,
.tab-item-style-default1 {
  cursor: pointer;
}

#tableStyleInSelectGroup_mobile {
  display: none;
}

.allMonthAttandence .btn-outline-danger:focus,
.allMonthAttandence .btn-outline-success:focus {
  outline: none !important;
  box-shadow: none !important;
}

.active-danger-btn-style {
  background-color: #E33545;
  color: #fff;
}

.active-btn-style {
  background-color: #28A745;
  color: #fff;
}

.not-active-btn-style {
  border-color: #aaa;
  background-color: #fff;
  color: #aaa;
}

.not-active-btn-style:hover {
  color: #fff;
}

.btn-submit {
  width: 91%;
}

.modalMobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  #tableStyleInSelectGroup {
    .dataOfMobile {
      display: block;
    }
  }

  #allModalStyle {
    display: none !important;
  }

  .modalMobile {
    display: block;
  }
  .modalDesktop {
    display: none;
  }

}

//  ---
// OLLOYOR
.teacherFinanceFiltrLink {
  font-size: 28px;
  transition: 0.2s;
}

.teacherFinanceFiltrLink:hover {
  color: blue;

  cursor: pointer;
}


// Schedule Styles

.awesome {
  background-color: red;
}

.group_card {
  box-shadow: 1px 1px 5px 0 rgba(140, 140, 140, 0.7);
  background-color: dodgerblue;
  color: #fff;
  border-radius: 3px;
  padding: 10px;

}

// Group ni stillari

.tab-item-style-active {
  //background-color: red;
}

.nav-item {
  cursor: pointer;
  //margin-bottom: -1px;
}

@media screen and (max-width: 768px) {

  .groups {
    .tab-item-style-active {
      border-bottom: 8px solid #1C89FF;
      background-color: red;
    }
  }

  .groups-title, .students-title {
    text-align: center;
    font-size: 2em;
    padding-right: 15px;
  }
  .navigation {
    border: 1px solid transparent;
    //border: none !important;
  }
  .studentSearch {
    margin: 10px 0;
    margin-right: 17px;
    width: 100%;
    text-align: center !important;
  }


  .debtors-tab {
    width: 93% !important;

    .table-style {
      padding-top: 10px;
      .phone-number-td {
        font-size: .85em;
      }
    }

    .debtors-tab-body {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    .download-excell-btn {

    }
  }
}